@model IEnumerable<Entities.Concrete.Contact>

@{
    ViewData["Title"] = "List";
    Layout = "Layout2";
}

<br />

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Contact Full Name
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Delete
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                        </td>
                    </tr>
                }
            </table>
            <div class="form-group">
                <a asp-action="Add" class="btn btn-primary">Create New</a>
            </div>
        </div>
    </div>
</div>